*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 120px 50px;

    background-image: url(./assetsd/artwork\ xbox.png);
    background-repeat: no-repeat;
    
    background-size: 240vh;
    
}

.text-header{
    display: flex;
    flex-direction: column;
    
    padding-top: 60px;
    gap: 50px;

    font-size: 3vh;
    color: rgb(255, 255, 255);
}

.text-header h3{
    font-size: 6vh;

}

.text-header h4{
    font-size: 2.2vh;
    color: rgb(56, 56, 56);
}

.botton-header a{
    display: flex;
    justify-content: center;
    padding: 5px 10px;

    font-size: 2vh;
    width: 15vh;
    
    background-color: black;
    color: white;
    border-radius: 0px 200px;
}

.botton-header a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vh;
    padding: 150px 20px;
    align-items: center;
    
}

.text-sobre{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.img-sobre{
    display: flex;
    justify-content: center;
}

.img-sobre img{
    display: flex;
   
    height: 55vh;

    animation: float 7s ease-in-out infinite;
}

.bnfc{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 150px 120px;
    gap: 4rem;

    background-color: black;
    color: white;
}

.text-bnfc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 2rem;
}

.cards-bnfc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 20px;
    justify-content: center;
    
    border: 1px solid white;
    border-radius: 20px;
    background-color: #191716;

}

.card{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
}

.bnfc .botton-header a{ 
    background-color: white;
    color: black;
}

.bnfc .botton-header a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.footer{
    display:flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    padding: 20px 20px;

    background-color: #9bc848;
    color: white;
}
.f1{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.f1-text{
    display: flex;
    align-items: center;
}

.f1-text img{
    height: 30px;
}

.f2 a{
    color: white;
    background-color: #96b067;
}

@media screen and (width < 400px){
    .header{
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 20px;

        background-image: url(./assetsd/artwork\ xbox\ mob.png);
        background-position: center;
        background-size: cover;
        height: 500px;

    }
    
    .text-header{
        gap: 50px;

        background: transparent;
        backdrop-filter: blur(2px);
    }
    
    .text-header h3{
        font-size: 4vh;
    }
    
    
    .sobre{
        grid-template-columns: repeat(1, 1fr);
        gap: 3vh;
        padding: 60px 20px;
    }
    
    .img-sobre img{  
        height: 40vh;
    }
    
    .bnfc{
        grid-template-columns: repeat(1, 1fr);
        padding: 80px 10px;
        justify-items: center;
    }
    
    .cards-bnfc{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        padding: 80px 20px;
        width: 250px;
    }
    
    .f1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
}

@keyframes float {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
}